/* 
Selector {
    Property: value;
} 

it's called cascading style sheets because it takes the last input for a selector and uses that,
so it is cascading down the sheet
*/

/* The * means ALL elements */
* {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}

h2, p {
    color: rgba(46, 64, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    border: 1px solid rgba(46, 64, 116, .4);
    border-radius: 15px;
}

.bodytext {
    border: none;
    font-size: large;
    font-weight: 100;
}

.active {
    color: rgba(83, 125, 135, 1);
}

.hoverlink {
    text-decoration: none;
    color: rgba(20, 79, 93, 1);
}

.hoverlink:hover {
    color: rgba(172, 108, 55, 1);
}

#textsection {
    background-color: rgba(83, 125, 135, .25);
}

ul {
    cursor: default;
}

li {
    list-style: none;
    display: inline-block;
    padding-inline: 5px;
}