body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, #00eeff, #ff00a2);
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
}

h3 {
  font: 200 2em;
  text-transform: none;
  letter-spacing: 0.01em;
}

.random {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 1em;
  border: none;
}

.random:hover {
    border: 1px solid #ffffff;
}

.clicked {
    border: 1px solid #000000;
}
